extends layout

block content
    .container
        .text-center
            h1
                i.fa.fa-lock
                = " Authentication"
            a.btn.btn-default(href="/register")
                i.fa.fa-pencil-square-o
                = " Register"
            = " "
            a.btn.btn-default(href="/login")
                i.fa.fa-sign-in
                = " Login"
